input{
    width:300px;
    border:10px solid red;
    
}
input:focus{
    animation-name: changeColor;
    animation-duration: 3s;
}

@keyframes changeColor{
    from{
        border:10px solid red;
    }
    to{
        border:10px solid green;
    }
}

@media (min-width:350px){
    input{
        width: 400px;
    } 
}



a{
    color: purple;
    text-decoration-line: none;
    margin:auto;
    
}

#containerfour{
    width: 600px;
    height:400px;
    background-color: lightgray;
    margin-left: 150px;
    margin-top: 70px;
    position: fixed;
}

#boxone{
    width: 500px;
    height: 50px;
    background-color: red;
    margin-left: 50px;
    margin-top: 50px;

}

#boxtwoA{
    float: left;
    width: 136px;
    height: 136px;
    background-color: blue;
    margin-left: 50px;
    margin-top: 20px;
}

#boxtwoB{
    width: 136px;
    height: 136px;
    background-color: blue;
    margin-left: 47.5px;
    margin-top: 20px;
    float: left;
}

#boxtwoC{
    width: 136px;
    height: 136px;
    background-color: blue;
    margin-left: 412.5px;
    margin-top: 20px;
}

#boxthree{
    width: 500px;
    height: 50px;
    background-color: red;
    margin-left: 50px;
    margin-top: 20px;
}